html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.main-container {
	display: flex;
	flex-direction: column;

	height: 100vh;
}

.main-container .top {
	-webkit-app-region: drag;
	-webkit-user-select: none;

	height: 24px;

	background-color: darkviolet;
}

.main-container .bottom {
	flex-grow: 1;
	background-color: white;
}